.unit-container{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(235, 235, 235);
    z-index: 1;
    /* height: 100vh; */
    
}
.big-oaks-logo{
    max-width: 1000px;
    width: 60%;
    height: 60%;
    max-height: 600px;
}
.display-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    max-height: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.unit-display{
    border-bottom: 1px solid rgba(146, 146, 146, 0.699);
    background-color: white;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-right: 5px solid rgb(186, 67, 61);
    border-top: 15px solid rgb(36, 36, 36);
    border-left: 5px solid rgb(186, 67, 61); */
    max-width: 1500px;
    /* height: 1000px; */
    width: 100%;
}
.price-card-div1{
    border-bottom: 1px solid rgba(117, 117, 117, 0.699);
    padding-bottom: 50px;
    padding-right: 80px;
    padding-left:30px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
.price-card-alt{
    margin-top: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    min-height: 180px;
    border: 1px solid rgba(235, 235, 235, 0.699);
    border-bottom: 5px solid rgba(212, 212, 212, 0.301);
}
.price-card-alt p{
    margin-top: -5px;
}
.price-card-alt:hover{
    cursor: pointer;
    transform: scale(1.08);
    transition: all ease-in-out .3s;
    background-color: rgba(186, 67, 61, 0.76);
    box-shadow: 2px 3px 5px 1px rgba(235, 235, 235, 0.699);
    border-bottom: 5px solid rgb(121, 45, 41);
    color: white;
}
.price-card-alt:hover .unit-size1{
    border: 2px solid rgb(186, 67, 61);
}
.price-card-alt:hover .cost-value{
    color: white;
}
.price-card-alt:hover strong{
    color: rgb(10, 10, 10);
}
/* .unit-size1{
    position: absolute;
    border-radius: 100%;
    background-color: white;
    height: 80px;
    width: 80px;
    padding: 3px;
    border: 2px solid rgb(221, 221, 221);
    transform: translate(-150%, -65%)
} */
.unit-size1{
    border-radius: 100%;
    background-color: white;
    height: 80px;
    width: 80px;
    margin-bottom: -35px;
    padding: 3px;
    border: 2px solid rgb(221, 221, 221);
    transform: translate(0, -50%)
}
.cost-title p{
    font-weight: bold;
    font-style: italic;
    text-align: right;
}
.cost-value{
    color:rgb(37, 37, 37);
}
.price-list2{
    margin-top: 10px;
    width: 90%;
    text-align: left;
    display: flex;
    justify-content: space-around;
}
.modal{
    opacity: 0;
    width: 1000px;
    height: 600px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-fill-mode: forwards;
    animation-name: fadeIn1 1.4s;
    -moz-animation:  fadeIn1 1.4s forwards;
    -webkit-animation: fadeIn1 s forwards;
}
.modal:hover{
    cursor: pointer;
}
.modal-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modal-title h3{
    margin-left: 10px;
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem;
}
.state-value h3{
    margin-left: 10px;
    font-weight: normal;
    text-align: left;
    font-size: 1.2rem;
}
.picture-modal{
    animation-fill-mode: forwards;
    animation-name: fadeIn1 2s;
    -moz-animation:  fadeIn1 2s forwards;
    -webkit-animation: fadeIn1 2s forwards;
}

.big-oaks-modal{
    width: 400px;
    height: 250px;
}
/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
 ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* animations */
@keyframes fadeIn1 {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn1 {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeIn1 {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }