.about-container{
    margin-top: 70px;
    display: flex;
    min-height: 760px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);   
    padding-bottom: 20px;
}
.new{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    max-width: 1300px;
}
.new p{ 
    text-align: left;
    padding: 5px;
    line-height: 1.5;
    font-size: 1.3rem;
}
.storage-photo3{
    width: 650px;
    height: 400px;
    margin-left: 30px;
}
.second-text{
    text-align: left;
    width: 100%;
    font-size: 1.2rem;
    padding-bottom: 10px;
}
.second-text p{
    margin-left: 15px;
}
.third-text{
    text-align: left;
    height: 100%;
    padding: 15px;
    margin-top:-5px;
}
@media (max-width: 1150px){
.storage-photo3{
    width: 600px;
    height: 300px;
    margin-left: 10px;
}
}
@media (max-width: 1020px){
.new h1{
    display: flex;
    justify-content: center;
}
}
@media (max-width: 500px){
.new p {
  font-size: 1.05rem;
}
}