.pricing-container{
    display: flex;
    flex-direction: column;
    background-color: #F7F8FA;
    padding-bottom: 50px;
    z-index: 3;
}
.unit-size{
    border-radius: 100%;
    background-color: white;
    height: 100px;
    width: 100px;
    padding: 3px;
    border: 2px solid rgb(221, 221, 221);
    transform: translate(0, -50%)
}
.price-card-div{
    margin: auto;
    margin-top: 100px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.price-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    border: 1px solid rgba(235, 235, 235, 0.699);
    border-bottom: 5px solid rgba(212, 212, 212, 0.301);
}
.price-card:hover .unit-size{
    transition: all .3s ease 0s;
    border: 2px solid #BA433D;
}.price-card1:hover .unit-size{
    transition: all .3s ease 0s;
    border: 2px solid #BA433D;
}.price-card2:hover .unit-size{
    transition: all .3s ease 0s;
    border: 2px solid #BA433D;
}.price-card3:hover .unit-size{
    transition: all .3s ease 0s;
    border: 2px solid #BA433D;
}.price-card4:hover .unit-size{
    transition: all .3s ease 0s;
    border: 2px solid #BA433D;
}
.price-card:hover{
    transform: translate(0, -1%);
    transition: all ease-in-out .3s;
    box-shadow: 2px 3px 5px 1px rgba(235, 235, 235, 0.699);
    border-bottom: 5px solid rgba(186, 67, 61, 0.699);
}
.price-card1{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 280px;
    height: 280px;
    border: 1px solid rgba(235, 235, 235, 0.699);
    border-bottom: 5px solid rgba(212, 212, 212, 0.301);
}
.price-card1:hover{
    box-shadow: 2px 3px 5px 1px rgba(235, 235, 235, 0.699);
    transition: all ease-in-out .4s;
    transform: translate(0, -1%);
    border-bottom: 5px solid rgba(186, 67, 61, 0.699);
}
.price-card2{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 280px;
    height: 300px;
    border: 1px solid rgba(235, 235, 235, 0.699);
    border-bottom: 5px solid rgba(212, 212, 212, 0.301);
}
.price-card2:hover{
    box-shadow: 2px 3px 5px 1px rgba(235, 235, 235, 0.699);
    transition: all ease-in-out .4s;
    transform: translate(0, -1%);
    border-bottom: 5px solid rgba(186, 67, 61, 0.699);
}
.price-card3{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 280px;
    height: 320px;
    border: 1px solid rgba(235, 235, 235, 0.699);
    border-bottom: 5px solid rgba(212, 212, 212, 0.301);
}
.price-card3:hover{
    box-shadow: 2px 3px 5px 1px rgba(235, 235, 235, 0.699);
    transform: translate(0, -1%);
    transition: all ease-in-out .4s;
    border-bottom: 5px solid rgba(186, 67, 61, 0.699);
}
.price-card4{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 280px;
    border: 1px solid rgba(235, 235, 235, 0.699);
    border-bottom: 5px solid rgba(212, 212, 212, 0.301);
}
.price-card4:hover{
    box-shadow: 2px 3px 5px 1px rgba(235, 235, 235, 0.699);
    transform: translate(0, -1%);
    transition: all ease-in-out .4s;
    border-bottom: 5px solid rgba(186, 67, 61, 0.699);
}
strong{
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: -40px;
    color: #BA433D;
}
.cost-title p{
    font-weight: bold;
    font-style: italic;
    text-align: right;
}
.cost-value{
    color:gray;
}
.price-list{
    width: 90%;
    text-align: left;
    display: flex;
    justify-content: space-around;
}
.price-button{
    height: 50px;
    width: 160px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:none;
    background-color: #BA433D;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.price-button:hover{
    cursor: pointer;
    background-color: rgb(241, 85, 77);
}
.landing-button1{
    margin:auto;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    border-radius: 3px;
    border:none;
    background-color: #BA433D;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.landing-button1:hover{
    cursor: pointer;
    background-color: rgb(163, 59, 53);
}
.arrow{
    color:  white;
    background-color: rgb(186, 67, 61);
    /* border: 2px solid rgb(26, 26, 26); */
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: auto;
    transform: translate(0, 175%);
    padding: 5px;
    z-index: 6;
}
.arrow:hover{
    cursor: pointer;
    color: rgb(186, 67, 61);
    background-color: rgb(26, 26, 26);
    transition: all ease-in-out .2s;
}
@media (max-width: 1200px){
    .price-card-div{
        margin: auto;
        margin-top: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        height: 100%;
    }
    .price-list{
        width: 300px;
        text-align: left;
        display: flex;
        justify-content: space-around;
    }
    .price-card{
        margin-bottom: 30px;
        width: 80%;
        max-width: 300px;
        margin-top: 30px;
        max-height: 280px;
        height: 280px;
    }
    .price-card1{
        width: 80%;
        margin-bottom: 30px;
        margin-top: 30px;
        max-width: 300px;
        max-height: 280px;
    }
    .price-card2{
        width: 80%;
        margin-top: 30px;
        margin-bottom: 30px;
        max-width: 300px;
        max-height: 280px;
    }
    .price-card3{
        width: 80%;
        margin-top: 30px;
        margin-bottom: 30px;
        max-width: 300px;
        max-height: 280px;
    }
}