.map-container {
    overflow-y: hidden;
    position: absolute;
    width: 350px;
    height: 300px;
    z-index: 2;
    margin-top: -10px;
}
.map-button{
    color: white;
    background-color:#B54140;
    height: 30px;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 3px solid gray;
}
.map-button:hover{
    cursor: pointer;
    background-color: rgb(255, 91, 88);
}

@media (max-width: 630px){
    .map-container {
        overflow-y: hidden;
        overflow: hidden;
        position: relative;
        z-index: 2;
        transform: scale(.9);
        margin: auto;
    }
}
@media (max-width: 480px){
    .map-container {
        overflow-y: hidden;
        overflow: hidden;
        position: relative;
        margin: auto;
        z-index: 2;
        transform: scale(.9);
    }
}